<head>
  <title>Confirm Vote</title>
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/all.scss"> 
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<span>
    <% @positions.each do |p| %>
    <h2><%= p.name %></h2>
    <table class="table table-bordered" id="all-candidates-table">
      <% @positions.each do |p| %>
      <thead id="tr1">
        <th id="th">First Name</th>
        <th id="th">Last Name</th>
        <th id="th">Sloga</th>
        <th id="th">Votes</th>
      </thead>
      <% p.candidates.each do |c| %>
      <tr id="tr">
        <td id="td"><%= c.last_name %></td>
        <td id="td"><%= c.first_name %></td>
        <td id="td"><%= c.slogan %></td>
        <td id="td"><%= c.votes.size %></td>
      </tr>
  <% end %>
  </table>
  <% end %>
  </span>
</body>